.single{
    display: flex;
    width: 100%;
    .singleContainer{
        flex: 6;
        .top{
            padding: 20px;
            display: flex;
            gap: 20px;
            .left{
                flex: 1;
                    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
                    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
                    padding: 20px;
                    position: relative;
                    .item{
                        display: flex;
                        gap: 20px;
                        .itemImg{
                            width: 100px;
                            height: 100px;
                            border-radius: 50%;
                            object-fit: cover;
                        }
                    }
            }
            .right{
                flex: 2;
            }
            .details{
                .itemTitle{
                    margin-bottom: 10px;
                    color: #555;
                }
                .itemDetails{
                    margin-bottom: 10px;
                    font-size: 14px;
                    .itemKey{
                        font-weight: bold;
                        color: gray;
                        margin-right: 5px;
                    }
                    .itemValue{
                        font-weight: 300;
                        color: gray;
                    }
                }
            }
        }
    }
    .title{
        font-size: 16px;
        color: lightgray;
        margin-bottom: 20px;
    }
    .editbutton{
        background-color: blueviolet;
        color: #fff;
        border: 1px solid;
        position: absolute;
        right: 3px;
        top: 20px;
        border-radius: 2px;
        cursor: pointer;
    }
    .bottom{
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        padding: 20px;
    }
}
