.widget{
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 10px;
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: 10px;
    height: 100px;
    .left, .right{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .title{
            font-size: 14px;
            font-weight: bold;
            color: gray;
        }
        .counter{
            font-size: 28px;
            font-weight: 300;
        }
        .percent{
            display: flex;
            align-items: center;
            justify-content: center;
            &.poitive{
               color: green; 
            }
            &.negative{
               color: red; 
            }
        }
        .link{
            width: max-content;
            font-size: 16px;
            border-bottom: 1px solid gray;
        }
        .icon{
            color: rgb(183, 113, 113);
            align-self: flex-end;
        }
    }
}