.featured{
    flex: 2;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: 10px;
    padding: 10px;
    .top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: gray;
        .title{
            font-size: 16px;
            font-weight: 500;
        }
    }
    .bottom{
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
        .featuredChart{
            width: 100px;
            height: 100px;
        }
        .title{
            color: gray;
            font-size: 16px;
        }
        .amount{
            font-size: 30px;
        }
        .descript{
            text-align: center;
            color: gray;
        }
    }
    .statisticks{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        .items{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            .item{
                display: flex;
                            &.positive{
                color: green;
            }
            &.negative{
                color: red;
            }
            }

        }
    }
}