.navbar{
    height: 50px;
    border-bottom: 0.5px solid rgb(230, 227, 227);
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;
    .wrapper{
        width: 100%;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        
        .search{
            display: flex;
            justify-content: center;
            align-items: center;
            border: 0.5px solid;
            padding: 5px;
            border-radius: 5px;
            input{
                border: none;
                outline: none;
                font-size: 14px;
                background-color: transparent;
            }
        }
        .items{
            display: flex;
            align-items: center;
            .item{
                display: flex;
                align-items: center;
                margin-right: 20px;
                cursor: pointer;
                position: relative;
                .counter{
                    width: 15px;
                    height: 15px;
                    background-color: red;
                    color: white;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    top: -2px;
                    right: -5px;
                    font-size: 10px;
                    font-weight: bold;
                }
                .icon{
                    font-size: 20px;
                }
                .avatar{
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                }
            }
        }
    }
}