.sidebar{
    flex: 1;
    border-right: 0.5px solid rgb(230, 227, 227);
    min-height: 100vh;
    hr{
        height: 0;
            border: 0.5px solid rgb(230, 227, 227);
    }
    .top{
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        .logo{
            font-size: 20px;
            font-weight: bold;
            color: gray;
        }
    }
    .center{
      padding-left: 20px;
      .title{
        margin-top: 10px;
        margin-bottom: 5px;
      }
      ul{
        list-style: none;
        margin: 0;
        padding: 0;
        li{
          display: flex;
          font-size: 14px;
          margin-bottom: 5px;
          padding-left: 10px;
          &:hover{
            background-color: #ece8ff;
            cursor: pointer;
          }
          span{
            padding-left: 10px;
          }
          .icon{
            font-size: 20px;
            color: blueviolet;
          }
        }
      }
    }
    .bottom{
      display: flex;
      align-items: center;
      margin: 10px;
      .colorOption{
        width: 20px;
        height: 20px;
        border-radius: 5px;
        border: 1px solid #7451f8;
        cursor: pointer;
        margin: 5px;

        &:nth-child(1){
          background-color: whitesmoke;
        }
        &:nth-child(2){
          background-color: #333;
        }
      }
    }

}