.new{
    display: flex;
    .newContainer{
        flex: 6;
        
            .top{
               -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
                box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
                padding: 20px;
                margin: 20px;
                h1{
                    color: gray;
                    font-weight: bold;
                    font-size: 20px;
                }
            }
        
        .bottom{
               -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
                box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
                padding: 20px;
                margin: 20px;
                display: flex;
                .left{
                    flex: 1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img{
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }
                .right{
                    flex: 2;
                    form{
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-around;
                        gap: 30px;
                        .formInput{
                            width: 40%;
                            label{
                                display: flex;
                                align-items: center;
                                gap: 10px;
                                 .icon{
                                      cursor: pointer;
                                        }
                            }
                          input{
                            width: 100%;
                            border: none;
                            outline: none;
                            padding: 5px;
                            font-size: 16px;
                            border-bottom: 1px solid gray;
                          }
                       }
                       button{
                             width: 130px;
                             padding: 5px 10px;
                             background-color: green;
                             outline: none;
                             border: none;
                             color: white;
                             border-radius: 5px;
                             cursor: pointer;
                            }
                       }
                    }
                   
                }
            }
    }
