.datatable{
    height: 500px;
    padding: 20px;
    .dataTitle{
        width: 100%;
        margin-bottom: 20px;
        font-size: 20px;
        color: gray;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .link{
            text-decoration: none;
            color: green;
            font-weight: 400;
            border: 1px solid;
            padding: 2px 5px;
            border-radius: 5px;
        }
    }
    .cellWithImg{
        display: flex;
        align-items: center;
    .cellImg {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 10px;
    }
    }
    .cellWithStatus{
        padding: 5px;
        border-radius: 5px;
        &.active{
            background-color: rgba(0, 128, 0, 0.05);
            color: green;
        }
        &.passive{
            background-color: rgba(255, 0, 0, 0.05);
            color: crimson;
        }
    }
    .cellAction{
        display: flex;
        align-items: center;
        gap: 15px;
        .viewButton{
            border: 1px solid forestgreen;
            padding: 2px 5px;
            color: green;
            border-radius: 5px;
            cursor: pointer;
        }
        .deleteButton{
            border: 1px solid red;
            color: red;
            padding: 2px 5px;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}